<section class="section section--gray tariff">
    <div class="container">
        <h2 class="section-header">
            ВСЕГО ДВА ТАРИФА<br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            УЧАСТИЯ В ВЕБИНАРЕ<br>
            ВЫБИРАЙТЕ свой
        </h2>
        <!-- /.section-header -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section tariff -->