<section class="section section--gray tariff">
    <div class="tariff-pattern">
        <div class="container">
            <div class="tariff-pattern-img"></div>
            <!-- /.theses-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="container">
        <h2 class="section-header">
            ВСЕГО ДВА ТАРИФА <span class="section-header__line section-header__line--right section-header__line--long"></span>
            <!-- /.section-header__line --><br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            УЧАСТИЯ В ВЕБИНАРЕ<br>
            ВЫБИРАЙТЕ свой
        </h2>
        <!-- /.section-header -->

        <div class="tariff-table">
            <table>
                <tr>
                    <th>ЧТО БУДЕТ В РАМКАХ ВЕБИНАРА</th>
                    <td>
                        <div class="tariff-table-label">
                            <div class="tariff-table-label__label">ТАРИФ</div>
                            ПРОСТО ПАПА
                            <!-- /.tariff-table-label__label -->
                        </div>
                        <!-- /.tariff-table-label -->
                    </td>
                    <td>
                        <div class="tariff-table-label">
                            <div class="tariff-table-label__label">ТАРИФ</div>
                            БОГАТЫЙ ПАПА
                            <!-- /.tariff-table-label__label -->
                        </div>
                        <!-- /.tariff-table-label -->
                    </td>
                </tr>
                <tr>
                    <th>Цена сейчас</th>
                    <td class="price-now">12 000 ₽</td>
                    <td class="price-now">25 000 ₽</td>
                </tr>
                <tr>
                    <th>Цена с 20 июня</th>
                    <td>17 000 ₽</td>
                    <td>41 000 ₽</td>
                </tr>
                <tr>
                    <th>Доступ к вебинару</th>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                </tr>
                <tr>
                    <th>Подарки от партнеров</th>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                </tr>
                <tr>
                    <th>Возможность задать вопрос</th>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                </tr>
                <tr>
                    <th>Электронная книга Р. Кийосаки "Измени свою жизнь еще до завтрака"</th>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                </tr>
                <tr>
                    <th>Запись, сроки доступа — 2 месяца</th>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td><img src="/src/img/design/icons/nop.svg" alt="img"></td>
                </tr>
                <tr>
                    <th>Чек-листы по онлайн-интенсиву</th>
                    <td><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td><img src="/src/img/design/icons/nop.svg" alt="img"></td>
                </tr>
                <tr>
                    <th>Доступ в закрытый чат</th>
                    <td class="no-border"><img src="/src/img/design/icons/yep.svg" alt="img"></td>
                    <td class="no-border"><img src="/src/img/design/icons/nop.svg" alt="img"></td>
                </tr>
                <tr>
                    <th class="no-border">
                        <div class="tariff-table-payment md-hidden">
                            <div class="tariff-table-payment__title">
                                ВЫ МОЖЕТЕ ОПЛАТИТЬ УЧАСТИЕ В ВЕБИНАРЕ ЛЮБЫМ УДОБНЫМ ДЛЯ ВАС СПОСОБОМ:
                            </div>
                            <!-- /.tariff-table-payment__title -->
                            <div class="tariff-table-payment__method">
                                <img src="/src/img/design/images/payment.png" alt="img">
                            </div>
                            <!-- /.tariff-table-payment__method -->
                        </div>
                        <!-- /.tariff-table-payment -->
                    </th>
                    <td class="no-border padding-min"><a href="#" class="btn">выбрать</a>    </td>
                    <td class="no-border padding-min"><a href="#" class="btn">выбрать</a>    </td>
                </tr>
            </table>
            <div class="payment-md">
                <div class="tariff-table-payment">
                    <div class="tariff-table-payment__title">
                        ВЫ МОЖЕТЕ ОПЛАТИТЬ УЧАСТИЕ В ВЕБИНАРЕ ЛЮБЫМ УДОБНЫМ ДЛЯ ВАС СПОСОБОМ:
                    </div>
                    <!-- /.tariff-table-payment__title -->
                    <div class="tariff-table-payment__method">
                        <img src="/src/img/design/images/payment.png" alt="img">
                    </div>
                    <!-- /.tariff-table-payment__method -->
                </div>
                <!-- /.tariff-table-payment -->
            </div>
            <!-- /.payment-md -->
        </div>
        <!-- /.tariff-table -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section tariff -->