{% extends "../layout/base_layout.twig" %}

{% block content %}

    {% include '../blocks/main/main.twig' %}
    {% include '../blocks/pandemic/pandemic.twig' %}
    {% include '../blocks/whom/whom.twig' %}
    {% include '../blocks/program/program.twig' %}
    {% include '../blocks/about/about.twig' %}
    {% include '../blocks/invite/invite.twig' %}
    {% include '../blocks/theses/theses.twig' %}
    {% include '../blocks/process/process.twig' %}
    {% include '../blocks/tariff/tariff.twig' %}
{#    {% include '../blocks/partners/partners.twig' %}#}


    <div class="callme-button callme-button-open"></div>
    <!-- /.callme-button -->

    <div class="callme-form">
        <div class="callme-form__title">
            Хочу участвовать в онлайн-интенсиве богатого папы!
        </div>
        <!-- /.callme-form__title -->
        <div class="callme-form__text">
            Оставьте свои контакты и наши менеджеры свяжутся с вами.
        </div>
        <!-- /.callme-form__text -->
        <div class="callme-form__form">
            <form id="ltForm8024203"  action="https://veda.digital/pl/lite/block-public/process-html?id=694709769" method="post" data-open-new-window="0"><input type="hidden" name="formParams[setted_offer_id]" ><br>
                <input type="text" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value=""><br>
                <input type="text" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" ><br>
                <input type="text" maxlength="60"  placeholder="Введите ваш телефон" name="formParams[phone]" value=""><br>
                <button type="submit"
                        id="button9941659" class="btn"

                        onclick="if(window['btnprs5ed64d4e8192a']){return false;}window['btnprs5ed64d4e8192a']=true;setTimeout(function(){window['btnprs5ed64d4e8192a']=false},6000);return true;">
                    Отправить заявку</button><br>
                <input type="hidden" id="2017295ed64d4e7aee1" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="2017295ed64d4e7aee1ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1591102798">
                <input type="hidden" name="requestSimpleSign" value="33981aacf9c6651769c1c6255b3492fd">
                <input type="hidden" name="isHtmlWidget" value="1"/></form><span id="gccounterImgContainer"></span><script>
                window.onload = function(){
                    let loc = document.getElementById("2017295ed64d4e7aee1");
                    loc.value = window.location.href;
                    let ref = document.getElementById("2017295ed64d4e7aee1ref");
                    ref.value = document.referrer;
                }
            </script>
            <script async defer>
                window.onload = function(){
                    let statUrl = "https://veda.digital/stat/counter?ref=" + encodeURIComponent(document.referrer)
                        + "&loc=" + encodeURIComponent(document.location.href);
                    document.getElementById('gccounterImgContainer').innerHTML
                        = "<img width=1 height=1 style='display:none' id='gccounterImg' src='" + statUrl + "'/>";
                }
            </script>
        </div>
        <!-- /.callme-form__form -->
    </div>
    <!-- /.callme-form -->

{% endblock %}
