<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-info">
                <div class="footer-info-item">
                    <div class="footer-info-item__desktop">
                        <b>Встреча в режиме онлайн.</b> Не важно, где вы<br>
                        находитесь. Главное — чтобы был интернет
                    </div>
                    <!-- /.footer-info-item__desktop -->
                    <div class="footer-info-item__mobile">
                        <b>Встреча.</b><br>
                        Онлайн
                    </div>
                    <!-- /.footer-info-item__mobile -->
                </div>
                <!-- /.footer-info-item -->
                <div class="footer-info-item">
                    <b>29 июня</b><br>
                    с 19:30 до 21:00
                </div>
                <!-- /.footer-info-item -->
            </div>
            <!-- /.footer-info -->
            <div class="footer-contact">
                <div class="footer-contact-phone">
                    <div class="footer-contact-phone__link">
                        <a href="tel:8 (800) 555-45-16">8 (800) 555-45-16</a>
                    </div>
                    <!-- /.footer-contact-phone__link -->
                    <div class="footer-contact-phone__title">Звонок бесплатный</div>
                    <!-- /.footer-contact-phone__title -->
                </div>
                <!-- /.footer-contact-phone -->
                <div class="footer-contact-callme">
                    <a href="#modal-form" data-fancybox class="btn-small">
                        перезвоните мне
                    </a>
                    <!-- /.btn-small -->
                </div>
                <!-- /.footer-contact-callme -->
            </div>
            <!-- /.footer-contact -->
        </div>
        <!-- /.row -->
        <div class="footer-divider"></div>
        <!-- /.footer-divider -->
        <div class="row">
            <div class="footer-brand">
                <div class="footer-brand__title">
                    Организатор
                </div>
                <!-- /.footer-brand__title -->
                <div class="footer-brand__logo">
                    <img src="/src/img/design/icons/footer-brand.png" alt="img">
                </div>
                <!-- /.footer-brand__logo -->
            </div>
            <!-- /.footer-brand -->
            <div class="footer-menu">
                <div class="row">
                    <div class="footer-menu-item">
                        <div class="footer-menu-item__title">О НАС</div>
                        <!-- /.footer-menu-item__title -->
                        <div class="footer-menu-item__list">
                            <ul>
                                <li><a target="_blank" href="http://vedaevent.ru/o-kompanii1-v.html">О компании</a></li>
                                <li><a target="_blank" href="https://richdad.veda.digital/page11538856.html">Наши контакты</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-menu-item__list -->
                    </div>
                    <!-- /.footer-menu-item -->
                    <div class="footer-menu-item">
                        <div class="footer-menu-item__title">СОТРУДНИЧЕСТВО</div>
                        <!-- /.footer-menu-item__title -->
                        <div class="footer-menu-item__list">
                            <ul>
                                <li><a target="_blank" href="https://richdad.veda.digital/ads">Стать партнёром</a></li>
                                <li><a target="_blank" href="https://richdad.veda.digital/agent">Стать агентом</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-menu-item__list -->
                    </div>
                    <!-- /.footer-menu-item -->
                    <div class="footer-menu-item">
                        <div class="footer-menu-item__title">ДОКУМЕНТЫ</div>
                        <!-- /.footer-menu-item__title -->
                        <div class="footer-menu-item__list">
                            <ul>
                                <li><a target="_blank" href="https://richdad.veda.digital/dogovor">Договор публичной оферты</a></li>
                                <li><a target="_blank" href="https://richdad.veda.digital/politics">Политика конфиденциальности</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-menu-item__list -->
                    </div>
                    <!-- /.footer-menu-item -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.footer-menu -->
        </div>
        <!-- /.row -->
        <div class="footer-divider"></div>
        <!-- /.footer-divider -->
        <div class="footer-copyright">
            <p>
                Любое копирование, перепечатка и распространение материалов этого сайта без письменного разрешения запрещено и преследуются по закону.  
            </p>
        </div>
        <!-- /.footer-copyright -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->