<section class="section invite">
    <div class="container">
        <div class="invite-pattern">
            <div class="container">
                <div class="invite-pattern-img"></div>
                <!-- /.theses-pattern-img -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.program-pattern -->
        <h2 class="section-header">
            видео ПРИГЛАШЕНИЕ<br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            от РОБЕРТЕ КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
        <div class="invite-video">
            <a data-fancybox href="https://www.youtube.com/embed/ALNYW-7FCjc?autoplay=1" class="invite-video__play">

            </a>
            <!-- /.invite-video__play -->
        </div>
        <!-- /.invite-video -->
        <div class="invite-action">
            <div class="invite-action-btn">
                <a href="#tariff" class="btn scrollto">
                    ОПЛАТИТЬ <span class="xs-hidden">УЧАСТИЕ</span> <span class="sm-hidden"> В ВЕБИНАРЕ</span>
                </a>
                <!-- /.btn -->
            </div>
            <!-- /.invite-action-btn -->
            <div class="invite-action-counter">
                {% set text = '<b>Еще не приняли решение?</b> Учтите, что<br> стоимость участия поднимется через:' %}
                {% include '../../blocks/counter/counter.twig' %}
            </div>
            <!-- /.invite-action-counter -->
        </div>
        <!-- /.invite-action -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section invite -->