<section class="section invite">
    <div class="container">
        <h2 class="section-header">
            видео ПРИГЛАШЕНИЕ<br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            от РОБЕРТЕ КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
        <div class="invite-video">
            <div class="invite-video__play">

            </div>
            <!-- /.invite-video__play -->
        </div>
        <!-- /.invite-video -->
        <div class="invite-action">
            <div class="invite-action-btn">
                <a href="#" class="btn">
                    ОПЛАТИТЬ УЧАСТИЕ В ВЕБИНАРЕ
                </a>
                <!-- /.btn -->
            </div>
            <!-- /.invite-action-btn -->
            <div class="invite-action-counter">
                {% set text = '<b>Еще не приняли решение?</b> Учтите, что<br> стоимость участия поднимется через:' %}
                {% include '../../blocks/counter/counter.twig' %}
            </div>
            <!-- /.invite-action-counter -->
        </div>
        <!-- /.invite-action -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section invite -->