.invite{
  position: relative;
  padding-top: 10px;
  padding-bottom: 25px;
  @include media-breakpoint-down(lg) {
    margin-top: -50px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: -100px;
  }
  &-video{
    height: 590px;
    background: url("/src/img/design/bg/invite.jpg") top no-repeat;
    background-size: cover;
    display: flex;
    @include media-breakpoint-down(xs) {
      height: 350px;

    }
    &__play{
      margin: auto;
      width: 93px;
      height: 108px;
      background: url("/src/img/design/icons/play.svg") center no-repeat;
      cursor: pointer;
      transition: .3s;
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  &-action{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: -60px;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include media-breakpoint-down(md) {
      padding: 0;
      margin-top: 0;
    }
    &-btn{
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .btn{
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }
    }
    &-counter{
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
  &-pattern{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    &-img{
      position: relative;
      &:before{
        content: url("/src/img/design/elements/pattern-invite.svg");
        position: absolute;
        bottom: -86px;
        right: -110px;
      }
    }
  }
}