<section class="section invite">
    <div class="container">
        <h2 class="section-header">
            видео ПРИГЛАШЕНИЕ<br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            от РОБЕРТЕ КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section invite -->