<section class="section partners">
    <div class="container">
        <h2 class="section-header">
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            ПАРТНЕРЫ<br>
            ОНЛАЙН-ВСТРЕЧИ
        </h2>
        <!-- /.section-header -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section partners -->