<section class="section about">
    <div class="about-pattern">
        <div class="container">
            <div class="about-pattern-img"></div>
            <!-- /.program-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="about-pattern-2">
        <div class="container">
            <div class="about-pattern-2-img"></div>
            <!-- /.program-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="container">
        <h2 class="section-header">
            ЧТО НУЖНО ЗНАТЬ<br>
            <span class="section-header__line section-header__line--left section-header__line--no-margin-left"></span>
            <!-- /.section-header__line -->
            О РОБЕРТЕ КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
        <div class="row">
            <div class="about-image">
                <img src="/src/img/design/images/about.jpg" alt="img">
            </div>
            <!-- /.about-image -->
            <div class="about-content">
                <div class="about-content__title">
                    Американский бизнесмен, инвестор, педагог, спикер-мотиватор, автор бестселлера "Богатый папа, бедный папа"
                </div>
                <!-- /.about-content__title -->
                <div class="about-content__list">
                    <ul>
                        <li>Финансовый обозреватель на Yahoo Finance</li>
                        <li>Основателем собственной частной образовательной компании Rich Dad Company</li>
                        <li>Автор 26 книг, многие из которых стали мировыми бестселлерами</li>
                        <li>Автор игры "Денежный поток"</li>
                        <li>Один из 25 авторов самых продаваемых книг на Amazon</li>
                        <li>Владелец активов на сумму более 80 млн долларов</li>
                    </ul>
                </div>
                <!-- /.about-content__list -->
                <div class="about-content__image">
                    <img src="/src/img/design/images/about-sm.jpg" alt="img">
                </div>
                <!-- /.about-content__image -->
                <div class="about-content-books">
                    <div class="about-content-books__title">
                        Книги Роберта Кийосаки:
                    </div>
                    <!-- /.about-content-books__title -->
                    <div class="about-content-books-list">
                        <div class="about-content-books-list-item">
                            <div class="about-content-books-list-item__num">
                                51
                            </div>
                            <!-- /.about-content-books-list-item__num -->
                            <div class="about-content-books-list-item__text">
                                переведены<br>
                                на язык
                            </div>
                            <!-- /.about-content-books-list-item__text -->
                        </div>
                        <!-- /.about-content-books-list-item -->
                        <div class="about-content-books-list-item">
                            <div class="about-content-books-list-item__num">
                                109
                            </div>
                            <!-- /.about-content-books-list-item__num -->
                            <div class="about-content-books-list-item__text">
                                читают в<br>
                                странах
                            </div>
                            <!-- /.about-content-books-list-item__text -->
                        </div>
                        <!-- /.about-content-books-list-item -->
                        <div class="about-content-books-list-item">
                            <div class="about-content-books-list-item__num">
                                27 млн
                            </div>
                            <!-- /.about-content-books-list-item__num -->
                            <div class="about-content-books-list-item__text">
                                изданы общим тиражом<br>
                                экземпляров
                            </div>
                            <!-- /.about-content-books-list-item__text -->
                        </div>
                        <!-- /.about-content-books-list-item -->
                    </div>
                    <!-- /.about-content-books-list -->
                </div>
                <!-- /.about-content-books -->
            </div>
            <!-- /.about-content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section about -->