<section class="section section--black program">
    <div class="program-pattern">
        <div class="container">
            <div class="program-pattern-img"></div>
            <!-- /.program-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="program-pattern-2">
        <div class="container">
            <div class="program-pattern-2-img"></div>
            <!-- /.program-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="container">
        <h2 class="section-header section-header--white">
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            О ЧЕМ ВЫ УЗНАЕТЕ<br>
            НА ВЕБИНАРЕ <span class="section-header__line section-header__line--right section-header__line--medium"></span>
            <!-- /.section-header__line --><br>
            <span class="section-header__indent"></span>
            <!-- /.section-header__ident -->
            РОБЕРТА КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
        <div class="row">
            <div class="program-content">
                <div class="row">
                    <div class="program-content-col">
                        <article class="program-content-item">
                            <div class="program-content-item__num"> <span>01</span></div>
                            <!-- /.program-content-item__num -->
                            <div class="program-content-item__text">
                                Почему время кризиса — это <br>НЕ время хоронить надежды <br>на лучшее будущее
                            </div>
                            <!-- /.program-content-item__text -->
                        </article>
                        <!-- /.program-content-item -->
                        <article class="program-content-item">
                            <div class="program-content-item__num"> <span>02</span></div>
                            <!-- /.program-content-item__num -->
                            <div class="program-content-item__text">
                                Как именно мировой кризис помогает стать успешнее и богаче
                            </div>
                            <!-- /.program-content-item__text -->
                        </article>
                        <!-- /.program-content-item -->
                        <article class="program-content-item">
                            <div class="program-content-item__num"> <span>03</span></div>
                            <!-- /.program-content-item__num -->
                            <div class="program-content-item__text">
                                Какие возможности открываются перед предпринимателями сейчас
                            </div>
                            <!-- /.program-content-item__text -->
                        </article>
                        <!-- /.program-content-item -->
                    </div>
                    <!-- /.program-content-col -->
                    <div class="program-content-col">
                        <article class="program-content-item">
                            <div class="program-content-item__num"> <span>04</span></div>
                            <!-- /.program-content-item__num -->
                            <div class="program-content-item__text">
                                Что помогает Роберту Кийосаки всегда выигрывать<br> в период кризиса
                            </div>
                            <!-- /.program-content-item__text -->
                        </article>
                        <!-- /.program-content-item -->
                        <article class="program-content-item">
                            <div class="program-content-item__num"> <span>05</span></div>
                            <!-- /.program-content-item__num -->
                            <div class="program-content-item__text">
                                Как изменить мышление и начать наконец действовать, чтобы стать богатым
                            </div>
                            <!-- /.program-content-item__text -->
                        </article>
                        <!-- /.program-content-item -->
                        <article class="program-content-item">
                            <div class="program-content-item__num"> <span>06</span></div>
                            <!-- /.program-content-item__num -->
                            <div class="program-content-item__text">
                                Как правильно<br> инвестировать, чтобы не потерять деньги
                            </div>
                            <!-- /.program-content-item__text -->
                        </article>
                        <!-- /.program-content-item -->
                    </div>
                    <!-- /.program-content-col -->
                </div>
                <!-- /.row -->
                <div class="program-thesis">
                    ВОЗМОЖНО, ИМЕННО ЭТИХ СОВЕТОВ ВАМ НЕ ХВАТАЛО, ЧТОБЫ СТАТЬ УСПЕШНЫМ, БОГАТЫМ И НИКОГДА НЕ БОЯТЬСЯ КРИЗИСОВ
                </div>
                <!-- /.program-thesis -->
                <a href="#tariff" class="btn">
                    ОПЛАТИТЬ <span class="sm-hidden">УЧАСТИЕ</span> <span class="md-hidden">В ВЕБИНАРЕ</span>
                </a>
                <!-- /.btn -->

            </div>
            <!-- /.program-content -->
        </div>
        <!-- /.row -->
        <div class="program-counter">
            {% set text = '<b>Еще не приняли решение?</b> Учтите, что<br> стоимость участия поднимется через:' %}
            {% include '../../blocks/counter/counter.twig' %}
        </div>
        <!-- /.main-counter -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section program -->