<header class="header">
    <div class="container">
        <div class="row">
            <div class="header-info">
                <div class="header-info-item">
                    <div class="header-info-item__desktop">
                        <b>Встреча в режиме онлайн.</b> Не важно, где вы<br>
                        находитесь. Главное — чтобы был интернет
                    </div>
                    <!-- /.header-info-item__desktop -->
                    <div class="header-info-item__mobile">
                        <b>Онлайн</b><br>
                        встреча
                    </div>
                    <!-- /.header-info-item__mobile -->
                </div>
                <!-- /.header-info-item -->
                <div class="header-info-item">
                    <b>29 июня</b><br>
                    с 18:30 до 20:00
                </div>
                <!-- /.header-info-item -->
            </div>
            <!-- /.header-info -->
            <div class="header-contact">
                <div class="header-contact-phone">
                    <div class="header-contact-phone__link">
                        <a href="tel:8 (800) 555-45-16">8 (800) 555-45-16</a>
                    </div>
                    <!-- /.header-contact-phone__link -->
                    <div class="header-contact-phone__title">Звонок бесплатный</div>
                    <!-- /.header-contact-phone__title -->
                </div>
                <!-- /.header-contact-phone -->
                <div class="header-contact-callme">
                    <a href="#modal-form" data-fancybox class="btn-small">
                        перезвоните мне
                    </a>
                    <!-- /.btn-small -->
                </div>
                <!-- /.header-contact-callme -->
            </div>
            <!-- /.header-contact -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->