.header{
  padding: 0px 0 26px;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &-info{
    @include make-col-ready();
    @include make-col(9);
    display: flex;
    padding-top: 10px;
    @include media-breakpoint-down(md) {
      @include make-col(8);
    }
    @include media-breakpoint-down(sm) {
      @include make-col(12);
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 0;
      //display: flex;
    }
    &-item{
      margin-top: 10px;
      margin-right: 55px;
      position: relative;
      padding-left: 52px;

      color: #1c1c1f;
      font-size: 17px;
      line-height: 1.29;
      @include media-breakpoint-down(sm) {
        padding-left: 33px;
        font-size: 15px;
        color: #fff;
        line-height: 1.1;
        //width: 50%;
        //border: 1px solid #000;
      }
      &:last-of-type{
        @include media-breakpoint-down(sm) {
          padding-right: 20px;
        }
      }
      &__desktop{
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      &__mobile{
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
        }
      }
      b{
        font-weight: 700;
        @include media-breakpoint-down(sm) {
          display: inline-block;
        }
      }
      span{
        @include media-breakpoint-down(sm) {
          white-space: nowrap;
        }
      }
      @include media-breakpoint-down(lg) {
        margin-right: 50px;
      }
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
          width: auto;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
      &:before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
      }
      &:first-of-type{
        &:before{
          content: url("/src/img/design/icons/map-pin.svg");
          @include media-breakpoint-down(sm) {
            content: url("/src/img/design/icons/map-pin-xs.svg");
          }
        }
      }
      &:last-of-type{
        margin-right: 0;
        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
        &:before{
          content: url("/src/img/design/icons/calendar.svg");
          @include media-breakpoint-down(sm) {
            content: url("/src/img/design/icons/calendar-xs.svg");
          }
        }
      }
      &__title{
        color: #0e0d13;
        font-size: 16px;
        font-weight: 700;
        margin-top: 2px;
        margin-bottom: -3px;
      }
      &__text{
        color: #0e0d13;
        font-size: 13px;
      }
    }
  }

  &-contact{
    @include make-col-ready();
    @include make-col(3);
    @include media-breakpoint-down(md) {
      @include make-col(4);
    }
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    @include media-breakpoint-down(md) {
      margin-top: 12px;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      @include make-col(12);
      justify-content: space-between;
      margin-top: -3px;
    }
    &-phone{
      padding-top: 11px;
      @include media-breakpoint-down(md) {
        text-align: right;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 10px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 8px;
      }
      &__link{
        margin-bottom: -3px;
        @include media-breakpoint-down(sm) {
          //margin-bottom: -4px;
        }
        a{
          color: #000000;
          font-size: 20px;
          font-weight: 900;
          @include media-breakpoint-down(md) {
            //font-size: 16px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 17px;
            color: #fff;
          }
          &:hover{
            color: #000;
            text-decoration: none;
            @include media-breakpoint-down(sm) {
              color: #fff;
            }
          }
        }
      }
      &__title{
        opacity: 0.3;
        color: #fff;
        font-size: 16px;
        text-align: right;
        @include media-breakpoint-down(md) {
          text-align: left;
        }
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
  }
}
