.theses{
  position: relative;
  padding-bottom: 0;
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &:before{
    content: '';
    height: 30px;
    width: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    @include media-breakpoint-down(md) {
      width: 58%;
    }
    @include media-breakpoint-down(sm) {
      width: 40%;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .section-header{
    margin-bottom: 45px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  &-slider{
    &-item{
      position: relative;
      &:before{
        content: '';
        width: 194px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
      &:after{
        content: '“';
        //font-family: 'bebas', sans-serif;
        font-size: 210px;
        line-height: 1;
        color: #FF3D23;
        z-index: 1;
        position: absolute;
        top: -5px;
        left: 15px;
        @include media-breakpoint-down(sm) {
          font-size: 160px;
        }
      }
      &__text{
        font-size: 25px;
        line-height: 1.32;
        color: #000000;
        position: relative;
        z-index: 2;
        padding: 30px 30px 30px 132px;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          padding: 20px 30px 20px 100px;
        }
      }
    }
  }
  &-slider-control{
    margin-top: 64px;
    display: flex;
    justify-content: flex-end;
    //border: 1px solid #000;
    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
    .owl-control{
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
  &-pattern{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    &-img{
      position: relative;
      &:before{
        content: url("/src/img/design/elements/pattern-theses.svg");
        position: absolute;
        bottom: -55px;
        left: -307px;
      }
    }
  }
  &-pattern2{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    &-img{
      position: relative;
      &:before{
        content: url("/src/img/design/elements/pattern-invite.svg");
        position: absolute;
        top: -115px;
        right: -110px;
      }
    }
  }
}