<section class="section section--gray theses">
    <div class="container">
        <h2 class="section-header">
            ПОЛЕЗНЫЕ МЫСЛИ<br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            ОТ РОБЕРТА КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section theses -->