<section class="section section--gray theses">
    <div class="theses-pattern">
        <div class="container">
            <div class="theses-pattern-img"></div>
            <!-- /.theses-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="theses-pattern2">
        <div class="container">
            <div class="theses-pattern2-img"></div>
            <!-- /.theses-pattern-img -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.program-pattern -->
    <div class="container">
        <h2 class="section-header">
            ПОЛЕЗНЫЕ МЫСЛИ<br>
            <span class="section-header__line section-header__line--left"></span>
            <!-- /.section-header__line -->
            ОТ РОБЕРТА КИЙОСАКИ
        </h2>
        <!-- /.section-header -->
        <div class="theses-slider owl-carousel">
            <div class="theses-slider-item">
                <div class="theses-slider-item__text">
                    &laquo;Величайший секрет победителей заключается в&nbsp;том, что неудача вдохновляет на&nbsp;победу&raquo;.
                </div>
                <!-- /.theses-slider-item__text -->
            </div>
            <!-- /.theses-slider-item -->

            <div class="theses-slider-item">
                <div class="theses-slider-item__text">
                    &laquo;Ваш мозг может всё. Абсолютно всё. Главное, убедить себя в&nbsp;этом. Руки не&nbsp;знают, что они не&nbsp;умеют отжиматься, ноги не&nbsp;знают, что они слабые, живот не&nbsp;знает, что он&nbsp;сплошной жир. Это знает ваш мозг. Убедив себя в&nbsp;том, что вы&nbsp;можете всё, вы&nbsp;сможете действительно всё&raquo;.
                </div>
                <!-- /.theses-slider-item__text -->
            </div>
            <!-- /.theses-slider-item -->

            <div class="theses-slider-item">
                <div class="theses-slider-item__text">
                    &laquo;Бедный, неудачный, несчастливый и&nbsp;нездоровый это тот, кто часто использует слово &bdquo;завтра&ldquo;&raquo;.
                </div>
                <!-- /.theses-slider-item__text -->
            </div>
            <!-- /.theses-slider-item -->

            <div class="theses-slider-item">
                <div class="theses-slider-item__text">
                    &laquo;Проблема многих людей, заключается в&nbsp;том, что у&nbsp;них нет рядом такого человека, как мой богатый папа, который научил&nbsp;бы их&nbsp;понимать силу треугольника БИЗНЕС-ИНВЕСТИЦИИ. Я&nbsp;думаю, очень важно научить большее количество людей быть предпринимателями и&nbsp;превращать свои уникальные идеи в&nbsp;бизнес, который будет создавать богатство&raquo;.
                </div>
                <!-- /.theses-slider-item__text -->
            </div>
            <!-- /.theses-slider-item -->

            <div class="theses-slider-item">
                <div class="theses-slider-item__text">
                    &laquo;Если вы&nbsp;не&nbsp;можете увидеть себя богатым, то&nbsp;никогда не&nbsp;сможете этого добиться&raquo;.
                </div>
                <!-- /.theses-slider-item__text -->
            </div>
            <!-- /.theses-slider-item -->
        </div>
        <!-- /.theses-slider -->
        <div class="theses-slider-control">
            <div class="owl-control">
                <div class="owl-control-btn owl-control-btn--prev"></div>
                <!-- /.owl-control-btn -->
                <div class="owl-control-counter">
                    <div class="owl-control-counter-current"></div>
                    <!-- /.owl-control-counter-current -->
                    <div class="owl-control-counter-spaser"></div>
                    <!-- /.owl-control-counter-spaser -->
                    <div class="owl-control-counter--all"></div>
                    <!-- /.owl-control-counter--all -->
                </div>
                <!-- /.owl-control-counter -->
                <div class="owl-control-btn owl-control-btn--next"></div>
                <!-- /.owl-control-btn -->
            </div>
            <!-- /.owl-control -->
        </div>
        <!-- /.theses-slider-control -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section theses -->