.modal{
  display: none;
  width: 500px;
  background-color: #ffffff;
  padding: 50px 58px;
  //box-shadow: 0 8px 54px rgba(236, 236, 236, 0.67);
  box-shadow: 35px 35px 150px rgba(0, 0, 0, 0.11);
  //box-shadow: 0 13px 95px rgba(239, 228, 216, 0.67);
  //border-radius: 30px 0 30px 30px;
  //background-color: #ffffff;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  margin: 105px 0;
  z-index: 50;
  //background-color: #f7f7f7;
  @include media-breakpoint-down(sm) {
    margin: 0 0;
    padding: 70px 15px 50px;
    border-radius: 0;
  }
  .section-header__line{
    height: 5px;
    top: -12px;
    &--left{
      width: 120px;
    }
  }
  &--video{
    width: 676px;
    iframe{
      @include media-breakpoint-down(sm) {
        width: 315px;
        height: 180px;
      }
    }
  }
  &--booking{
    iframe{
      width: 100%;
    }
  }
  &__title{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.12;
    text-align: center;
    text-transform: uppercase;

    color: #2E2928;
    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }
  }
  &__description{
    font-weight: 300;
    font-size: 23px;
    line-height: 1.22;
    text-align: center;
    color: #2E2928;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
  .btn{
    width: 100%;
  }
}

.modal-form{
  &-input{
    position: relative;
    &__label{
      font-weight: bold;
      font-size: 10px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: rgba(46, 41, 40, 0.3);
      background: #fff;
      padding: 0 5px;
      position: absolute;
      left: 25px;
      top: -7px;
    }
    &__input{
      margin-bottom: 10px;
      input{
        height: 73px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        color: #2E2928;
        line-height: 73px;
        //padding-right: 30px;
        border: 1px solid #DDDDDD;
        transition: .3s;
        padding: 0 30px;
        //background-color: #f7f5f5;
        &.input-name{
          //background: url("/src/img/design/icons/form/name.svg") no-repeat;
          //background-position: 100% 20px;
          &.error{
            //background: url("/src/img/design/icons/form/name-error.svg") no-repeat;
            //background-position: 100% 20px;
          }
        }
        &.input-phone{
          //background: url("/src/img/design/icons/form/phone.svg") no-repeat;
          //background-position: 100% 20px;
          &.error{
            //background: url("/src/img/design/icons/form/phone-error.svg") no-repeat;
            //background-position: 100% 20px;
          }
        }
        &.input-email{
          //background: url("/src/img/design/icons/form/mail.svg") no-repeat;
          //background-position: 100% 20px;
          &.error{
            //background: url("/src/img/design/icons/form/mail-error.svg") no-repeat;
            //background-position: 100% 20px;
          }
        }
        &:focus{
          //border-bottom: 3px solid #fbd837;
        }
        &.error{
          border: 1px solid #FF3D23;
          color: #FF3D23;
          background: url("/src/img/design/icons/form/error.svg") no-repeat;
          background-position: 90% 30px;
        }
        &.valid{
          background: url("/src/img/design/icons/form/valid.svg") no-repeat;
          background-position: 90% 30px;
          //border: 3px solid #f7f5f5;
        }
      }
    }
    &__ico{
      display: none;
      position: absolute;
      top: 18px;
      right: 0;
    }
  }
  .btn-action{
    width: 100%;
    margin: 25px auto 0;
  }
}

label.error{
  font-size: 0!important;
}


.modal-form-agree{
  margin-top: 10px;
  //text-align: center;
  //color: #121312;
  //font-size: 14px;
  //font-weight: 400;
  //line-height: 2.13;
  //a{
  //  text-decoration: underline;
  //}
}

.fancybox-is-open .fancybox-bg{
  opacity: 1;
}

.fancybox-bg{
  background: #fff;
}

.fancybox-button svg{
  display: none;
}

.fancybox-button.fancybox-close-small{
  background: url("/src/img/design/icons/close.svg") center no-repeat;
  top: 16px;
  right: 16px;
  transition: .3s;
  @include media-breakpoint-down(sm) {
    right: 6px;
  }
  &:hover{
    transform: rotate(90deg);
  }
}


//.fancybox-slide{
//  &:after{
//    content: '';
//    width: 228px;
//    height: 130px;
//    background: url("/src/img/design/icons/matrix.svg") top no-repeat;
//    background-size: cover;
//    position: absolute;
//    top: calc(50% - 240px);
//    left: calc(50% + 60px);
//    z-index: 0;
//  }
//}

label.error{
  color: #f42837;

  font-size: 14px;
  font-weight: 300;
  position: absolute;
  bottom: -35px;
  left: 0;
}

//.icr-label .type_checkbox {
  //box-sizing: border-box;
  //border: none;
  //border-radius: 4px;
  //background-position: 0 0;
//}

.fancybox-infobar{
  display: none!important;
}

.fancybox-button--close{
  //display: none;
  background: url("/src/img/design/icons/close.svg") center no-repeat #fff;
  transition: .3s;
  &:hover{
    transform: rotate(180deg);
  }
}

.icr-label{
  //display: flex;
  //.icr-text{
  //  padding-top: 3px;
  //  padding-left: 5px;
  //}
}

.icr-text{
  @include media-breakpoint-down(xs) {
    font-size: 10px;
  }
}

.callme-button{
  background: url("/src/img/design/icons/plus.svg") center;
  background-size: contain;
  width: 50px;
  height: 50px;
  //border: 1px solid #000;
  position: fixed;
  right: 30px;
  bottom: 40px;
  cursor: pointer;
  z-index: 10;
  @include media-breakpoint-down(xs) {
    right: 15px;
  }
}
.callme-form{
  padding: 30px 30px;
  width: 420px;
  position: fixed;
  //z-index: 50;
  right: 30px;
  bottom: 110px;
  background: #fff;
  z-index: 50;
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  text-align: center;
  display: none;
  user-select: none;
  @include media-breakpoint-down(xs) {
    width: 320px;
    right: 50%;
    transform: translateX(50%);
  }
  &.active{
    display: block;
  }
  &__title{
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  &__text{
    line-height: 1.2;
  }
  &__form{
    input{
      height: 73px;
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      color: #2E2928;
      line-height: 73px;
      //padding-right: 30px;
      border: 1px solid #DDDDDD;
      transition: .3s;
      padding: 0 30px;
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 10px;
      }
    }
    .btn{
      width: 100%;
      padding: 0 15px;
      &:after{
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
  }
}

#ltBlock694709769 .lt-block-wrapper{
  padding-top:40px!important;
}