<div class="counter">
{#    <div class="row">#}
        <div class="counter-counter">
            <div class="counter-counter__title">
                {{ text }}
            </div>
            <!-- /.counter-counter__title -->
            <div class="counter-counter__counter">
                <div class="counter-clock">
                    <div class="counter-clock-item">
                        <div class="counter-clock-item__num days">02</div>
                        <!-- /.counter-clock-item__num -->
                        <div class="counter-clock-item__title">дней</div>
                        <!-- /.counter-clock-item__title -->
                    </div>
                    <!-- /.counter-clock-item -->
                    <div class="counter-clock-item">
                        <div class="counter-clock-item__num hours">16</div>
                        <!-- /.counter-clock-item__num -->
                        <div class="counter-clock-item__title">часов</div>
                        <!-- /.counter-clock-item__title -->
                    </div>
                    <!-- /.counter-clock-item -->
                    <div class="counter-clock-item">
                        <div class="counter-clock-item__num mins">28</div>
                        <!-- /.counter-clock-item__num -->
                        <div class="counter-clock-item__title">минут</div>
                        <!-- /.counter-clock-item__title -->
                    </div>
                    <!-- /.counter-clock-item -->
                    <div class="counter-clock-item">
                        <div class="counter-clock-item__num sec">54</div>
                        <!-- /.counter-clock-item__num -->
                        <div class="counter-clock-item__title">секунд</div>
                        <!-- /.counter-clock-item__title -->
                    </div>
                    <!-- /.counter-clock-item -->
                </div>
                <!-- /.counter-clock -->
            </div>
            <!-- /.counter-counter__counter -->
        </div>
        <!-- /.counter-counter -->
{#    </div>#}
{#    <!-- /.row -->#}
</div>
<!-- /.counter -->