.section-header{
  font-size: 64px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #2E2928;
  margin-bottom: 30px;
  &--white{
    color: #FFFFFF;
  }
  &__line{
    display: inline-block;
    width: 76px;
    height: 7px;
    background: #FF3D23;
    position: relative;
    top: -18px;
    &--left{
      margin-left: -35px;
      margin-right: 10px;
    }
    &--right{}
  }
}
