.section-header{
  font-size: 64px;
  line-height: 1.20;
  text-transform: uppercase;
  color: #2E2928;
  margin-bottom: 25px;
  &--white{
    color: #FFFFFF;
  }
  &__line{
    display: inline-block;
    width: 76px;
    height: 7px;
    background: #FF3D23;
    position: relative;
    top: -18px;
    &--left{
      margin-left: -35px;
      margin-right: 10px;
    }
    &--right{
      margin-left: 10px;
    }
    &--no-margin-left{
      margin-left: 0;
    }
    &--main{
      width: 90px;
    }
    &--medium{
      width: 126px;
    }
    &--long{
      width: 224px;
    }
  }
  &__indent{
    display: inline-block;
    padding-right: 10px;
    //height: 1px;
    //border: 1px solid #000;
  }
}
